@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clinique Dentaire de Chicoutimi</h1>
    <p class="lead">Spécialités orthodontie, chirurgie maxillo-faciale...</p>
    <p>
        @Html.ActionLink("Prendre un rendez-vous", "Create", "Appointements", null, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Se connecter", "Contact", "Home", null, new { @class = "btn btn-primary btn-lg" })
</p>
</div>